<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="print">
	<select id="printbookAll" parameterType="print.dto.PageDTO"
		resultType="admin.bookmanage.dto.BookmanageDTO">
			<![CDATA[
		SELECT y.* FROM(
					SELECT rownum as rm, x.*FROM(
								SELECT * FROM booklist
								ORDER BY book_keynum desc)x)y
		WHERE y.rm BETWEEN #{startRow} AND #{endRow}
		]]>
	</select>
	<select id="count" resultType="int">
		SELECT count(*) FROM booklist
	</select>
	<select id="searchByTitle" parameterType="string"
		resultType="admin.bookmanage.dto.BookmanageDTO">
		SELECT * FROM booklist WHERE title LIKE '%'||#{query}||'%'

	</select>
	<select id="searchByAuthor" parameterType="string"
		resultType="admin.bookmanage.dto.BookmanageDTO">
		 SELECT * FROM booklist WHERE author LIKE '%'||#{query}||'%'

	</select>
	<select id="searchByPub" parameterType="string"
		resultType="admin.bookmanage.dto.BookmanageDTO">
		 SELECT * FROM booklist WHERE publisher LIKE '%'||#{query}||'%'
	</select>
	<select id="check" parameterType="string"
		resultType="int">
		select count(*) from booklist where title like #{query}||'%'
	</select>
	
	<select id="searchByCat" parameterType="string" resultType="admin.bookmanage.dto.BookmanageDTO">
		select * from booklist where category_s like #{cate}||'%'
	
	</select>
</mapper>